html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center; /* centers horizontally */
  justify-content: center; /* centers vertically */
  min-height: 100vh; /* full screen height */
  text-align: center;
}

header {
  margin-bottom: 20px;
}

header a {
  margin: 0 10px;
  text-decoration: none;
  color: #007bff;
}
